.container{
  display: flex;
  background-color:blueviolet;
  padding: 10px;
  border: 1px solid black;
  height: 200px;
  width: 600px;
  /* flex-direction:column;*/
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px 30px;
  }

.item{
    height: 50px;
    width: 100px;
    background-color: blue;
      flex-grow: 1;
      flex-shrink: 3;
    /* text-align: center; */
    /* margin: 100px;; */
}
/* By default all the child elements have order 0 */
.item4{
  /* order: -1; */
  align-self: flex-end;
}