.container{
  display: flex;
  background-color: lightgray;
  padding: 10px;
  border: 1px solid red;
  height: 200px;
  width: 880px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-end;
}

.item{
    height: 50px;
    width: 100;
    background-color: rgb(rgb(180, 44, 44));
}