/* p{
    color: blueviolet;
    background-color: chartreuse;
    text-align: center;
    font-size: 20px;
    padding: 20px;
}

div{
    height: 500px;
    width: 300px;
    background-color: cornflowerblue;
    border: 2px dotted black;
    padding: 10px;
    margin-left: 100px;
}

#l2{
    height: 200px;
    width: 100;
    background-color: burlywood;
    color: crimson;
    border: 3px double black;
    font-size: 50px;
    margin-right: 300px;

}

#l3{
    height: 600;
    width: 500;
    background-color: blue;
    color: beige;
    border: 4px dashed;
    font-size: 30px;
}

#l4{
    height: 100px;
    width: 80px;
    background-color: bisque;
    color: darkgreen;

}
*{
    margin: 0;
    padding: 0;
}

.SS {
    color: chocolate;
    background-color: burlywood;
}

body{
    background-color: aqua;
}

#l1{
    color: blue;
}

#title {
    color: brown;
}    */